[Unit]
Description=Trackademy Backend
After=network.target docker.service
Wants=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/trackademy/trackademy-backend
EnvironmentFile=/opt/trackademy/trackademy-backend/.env.prod
ExecStart=/usr/bin/java -jar /opt/trackademy/trackademy-backend/target/quarkus-app/quarkus-run.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
